<EditForm Model="province" OnValidSubmit="OnvalidSubmit">
    <div class="modal-body">
        <div class="card card-success">
            <div class="card-header">
                @HeaderText
            </div>
            <div class="form-horizontal">
                <div class="card-body">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Mã tỉnh thành: </label>
                        <div class="col-sm-9">
                            <InputText type="text" @bind-Value="province.Code" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Tên tỉnh thành: </label>
                        <div class="col-sm-9">
                            <InputText type="text" @bind-Value="province.Name" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Mã quốc gia: </label>
                        <div class="col-sm-9">
                            <InputText type="text" @bind-Value="province.NationallityCode" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">PostalCode: </label>
                        <div class="col-sm-9">
                            <InputText type="text" @bind-Value="province.PostalCode" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Còn hoạt động: </label>
                        <div class="col-sm-9">
                            <input type="checkbox" @bind="province.Active" class="form-control" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary mr-auto" @onclick="OnClose">Hủy</button>
        <button type="submit" class="btn btn-success">@ButtonText</button>
    </div>
</EditForm>
