@page "/"

<ContentHeader>
    <Header>
        <PageTitle Title="Home Page" />
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Hello, world!</CardTitle></Title>
        <Body>
            <h1></h1>

            Welcome to your new app.
        </Body>
    </Card>
</ContentMain>