<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DacDBConn" connectionString="Data Source=Localhost; Initial Catalog=DacPIPTAgencyDB; User Id=sa; Password=app123456" providerName="System.Data.SqlClient" />
    <add name="PIPT.Properties.Settings.DacSpillResistantConnectionString" connectionString="Data Source=Localhost;Initial Catalog=DacPIPTAgencyDB;User ID=sa;Password=app123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Username" value="duocvietduc" />
    <add key="Password" value="du0cv1etduc" />
    <add key="CheckInWarehouse" value="false" />
    <add key="DateStartGettingData" value="2018-01-01" />
    <add key="Pattern" value="(http:\/\/temchonggia.com.vn\/daccheck|http:\/\/traphacoshop.com)/?(\?serial|\?sn)=[0-9a-zA-Z]{10,15}(&amp;uc=[0-9a-zA-Z]{4})?" />
    <add key="BaseAddress" value="http://localhost:51636/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
